.logo {
  padding: 2rem 0;
}

.logo img {
  height: 100px;
}

.blockImage {
  margin-top: 40px;
}

.projectDescription {
  max-width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.projectRequirements {
  font-size: 0.8rem;
}

.liveDescription {
  max-width: 60%;
  margin-right: auto;
  margin-left: auto;
  font-style: italic;
  color: #9456ab;
}

.promoTitle {
  text-align: center;
  font-size: 3rem;
  padding: 3rem 0 1rem;
  margin: 0 auto;
  font-style: italic;
  color: #9456ab;
}
